/*!
 * react-responsive-linear-layout v2.0.4
 *
 * Copyright (c) 2020, Brandon D. Sara (https://bsara.dev)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/react-responsive-linear-layout/blob/master/LICENSE)
 */
.rrll__layout {
  --rrll__margin: calc(var(--responsive-linear-layout-item-gap) / 2);

  flex-wrap: wrap;
  margin:    calc(var(--rrll__margin) * -1);
}

.rrll__layout > * {
  --linear-layout-item-size:     var(--responsive-linear-layout-item-size);
  --linear-layout-item-max-size: var(--responsive-linear-layout-item-max-size);
  --linear-layout-item-min-size: var(--responsive-linear-layout-item-min-size);

  margin: var(--rrll__margin);
}



/* Reset layout grandchildren custom props */
.rrll__layout > * > * {
  --responsive-linear-layout-item-gap:      none;
  --responsive-linear-layout-item-size:     none;
  --responsive-linear-layout-item-max-size: none;
  --responsive-linear-layout-item-min-size: none;
}
