/* stylelint-disable selector-class-pattern */
/**
 * ISC License (ISC)
 *
 * Copyright (c) 2020, Brandon D. Sara (https://bsara.dev)
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
 * REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
 * AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
 * INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
 * LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
 * OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
 * PERFORMANCE OF THIS SOFTWARE.
 */

._rll-readme-layout {
  --responsive-linear-layout-item-gap: 50px;
}

._rll-readme-layout > *,
._rll-readme-embedded-layout > * {
  border: 1px dotted gray;
}

._rll-readme-embedded-layout {
  --responsive-linear-layout-item-gap: 10px;
}


._rll-vert {
  height: calc(100vh - 30px); /* NOTE: 30px = body padding */
}


._rll-align-items-start {
  justify-content: flex-start;
}

._rll-align-items-end {
  justify-content: flex-end;
}

._rll-align-items-center {
  justify-content: center;
}



._rll-stretch-items > * {
  flex-grow: 1;
}



._rll-item-gap {
  --responsive-linear-layout-item-gap: 25px;
}



._rll-item-size {
  --responsive-linear-layout-item-size: 30px;
}

._rll-item-min-size {
  --responsive-linear-layout-item-min-size: 100px;
}

._rll-item-max-size {
  --responsive-linear-layout-item-max-size: 10px;
}
